#gameContainer {
    position: relative;
    width: 900px;
    height: 600px;
    background-color: lightgray;
    margin: 0 auto;
}

#character {
    position: absolute;
    top: 270px; 
    left: 435px;
    width: 30px;
    height: 30px;
    background-color: red;
}